<nav>
    <div class="nav-wrapper black">
        <div class="container">
            <a href="#" class="brand-logo">hihi</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a ui-href="adminadd">ADD</a></li>
                <li><a href="badges.html">DELETE</a></li>
                <li><a href="collapsible.html">EDITER</a></li>
            </ul>
        </div>
    </div>
</nav>
<br><br>
<div class="container">
HOLA AMIGO BIENVENUE<br>
 <div ng-click="$ctrl.add()">ADD</a>
              
SELECTIONNE DANS LE MENU LE SCRUM QUE TU VEUX FAIRE
</div>
<br><br>
</body>