<!-- Display blogItemMenu component (see blogItemMenu.js ) and bind properties with all functions  -->
<blog-item-menu ng-if="$ctrl.editable" user="$ctrl.user" edit-mode="$ctrl.editMode" on-undo="$ctrl.undo()" on-edit="$ctrl.editMode = !$ctrl.editMode"
    on-delete="$ctrl.delete()" on-save="$ctrl.save()" />
<div class="col s12 m4">
    <div class="card">
        <div class="card-content" ng-if="($ctrl.editable && $ctrl.editMode)">
            <input type="text" ng-model="$ctrl.post.title" placeholder="Title">
            <input type="date" ng-model="$ctrl.post.createdAt" placeholder="yyyy-MM-dd" min="2013-01-01" max="2013-12-31" required>
            <div class="switch">
                <label>
                Privée
                <input type="checkbox" ng-model="$ctrl.post.public" ng-init="$ctrl.post.public = false">
                <span class="lever" ng-model="$ctrl.post.public"></span>
                Public
              </label>
            </div>
            <textarea class="materialize-textarea" ng-if="($ctrl.editable && $ctrl.editMode)" ng-model="$ctrl.post.content" placeholder="Content"></textarea>
        </div>

        <div class="card">

            <div class="card-content" ng-if="(!$ctrl.editable || ($ctrl.editable && !$ctrl.editMode))">
                <span class="card-title">
              {{$ctrl.post.title}}
            </span>
                <div>
                    {{$ctrl.post.content | limitTo: ($ctrl.editable ? $ctrl.post.content.length : 110)}}<br><br><br>
                    <span><small>Publié le: {{$ctrl.post.createdAt | amUtc | amDateFormat:'MM.DD.YYYY'}}</small></span>
                </div>


            </div>

            <div class="card-action">
                <a ng-if="!$ctrl.editable" ui-sref="blog.item({id: $ctrl.post._id})">Read more</a>
                <a ng-if="$ctrl.editable && !$ctrl.editMode" ui-sref="blog.list">Close</a>
                <a ng-if="$ctrl.editMode" ng-click="$ctrl.undo()" class="waves-effect"><i class="material-icons">undo</i></a>
                <a ng-if="$ctrl.editMode" ng-click="$ctrl.save()" class="waves-effect"><i class="material-icons">done</i></a>
                 <a href="" ng-click="$ctrl.addOrRemoveToBookmark()" ng-if="$ctrl.user && !$ctrl.post.isNew">
                    <!-- Change icon from post.isFav value -->
                    <i class="material-icons pull-right">{{($ctrl.isFav() ? 'turned_in' : 'turned_in_not')}}</i>
                </a>
            </div>
        </div>
    </div>